body {
    background-color:lightgray
} h1 {
 color:#e91623;
 font:size 24px;
 h2 {
    color:red;
     font:size 24px;
}
 h3{
     color:red;
     font:size 24px;
}
 p {
     color:#000000;
}
 .dotted {
     border-style:dotted;
}
 ul {
    color:rgb(202, 16, 16);
}
 ol{
    color:rgba(158, 17, 17, 0.788)
}
 .Dream{
    border-style:solid
}
 .DreamK{
    border-style:double
}